<%- include('../partials/head') %>


<div class="container d-flex justify-content-center">


    <div class="card mb-3" style="min-width: 1200px; max-width:1600px">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="https://i.pinimg.com/564x/7e/c3/0b/7ec30b1ee938664afb55e8d335b56363.jpg" style= "object-fit: cover;" alt="Card image cap">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <img src ='/assets/eatgood-logo.png' width=200px class="rounded-circle"></a>
            <form method="POST" action="/users/register">
              <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name">
              </div>
              <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name">
              </div>
              <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email">
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
              </div>
              <div class="mb-3">
                  <label for="password_confirm" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" id="password_confirm" name="password_confirm">
              </div>
              <button type="submit" class="btn btn-light">Register</button>
          </form>
      


          </div>
        </div>
      </div>
    </div>


</div>

<%- include('../partials/foot') %>


