<%- include('../partials/head') %>

<div class="container">


    <div class="row">

<h1>show</h1>

    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/37359a22c1460b5c861864eaf4b389ad.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Random write up</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
</div>

<%- include('../partials/foot') %>
